
factor_rotation/__pycache__/

factor_rotation/\.DS_Store

ipynb/\.ipynb_checkpoints/

japanese-wikipedia-200dimension/\.DS_Store

\.DS_Store

japanese-wikipedia-200dimension/entity_vector\.model\.txt

japanese-wikipedia-200dimension/parsimax_axis\.npy

japanese-wikipedia-200dimension/parsimax_rotated\.npy
